---
import { IoArrowForward } from "react-icons/io5";
import Content from "../components/Content.astro";
import Footer from "../components/Footer.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { INSTAGRAM_URL } from "../config";
import Masthead from "../components/Masthead.astro";
import { Image } from "astro:assets";
import Header from "../components/Header.astro";

// get all sorted posts
const posts = (await Astro.glob("./posts/*.md")).sort(
  (a: any, b: any) =>
    new Date(b.frontmatter.createdAt).valueOf() -
    new Date(a.frontmatter.createdAt).valueOf()
);

// const images = import.meta.glob<{ default: ImageMetadata }>(
//   "/src/assets/*.{jpg,jpeg,png,gif"
// );
---

<MainLayout title="MercenarioZ&apos;s blog">
  <Header />
  <main class="pt-[60px]">
    <h1 class="text-center mb-6 text-2xl">
      A simple <span class="text-orange-500 font-bold">blog</span> about everything.
    </h1>

    <!-- <Masthead /> -->

    <Content>
      <section>
        <p class="mb-10 indent-4 opacity-80">
          Hello there, I&apos;m Le Ba Nguyen Vu, currently a college student. As
          a fourth year student, I&apos;ve been spending hours studying at my
          desk. With the desire to learn about <span class="text-orange-500"
            >writing skill</span
          >, I created this blog to enhance this skill. I&apos;ll write about
          things that interest me, such as items I use, interesting knowledge I
          learn, new programming technologies, etc.
          <a
            target="_blank"
            class="inline-flex items-center gap-1 indent-1 hover:text-orange-300 text-orange-500 transition"
            href={INSTAGRAM_URL}
            >More about me on Instagram <IoArrowForward /></a
          >
        </p>

        <ul class="grid grid-cols-1 md:grid-cols-2 gap-6">
          {
            posts.map((p) => (
              <li class="text-center mb-4">
                <a href={p.url}>
                  <Image
                    width={720}
                    height={720 / 1.65}
                    src={p.frontmatter.heroImage}
                    alt="thumbnail"
                    class="border mb-2 dark:hover:border-zinc-500 transition border-slate-400 dark:border-zinc-700 rounded-xl shadow-xl hover:scale-105 duration-300"
                  />
                  <div class="text-lg mb-2 mt-4">{p.frontmatter.title}</div>

                  <div class="opacity-80">{p.frontmatter.description}</div>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </Content>
  </main>

  <Footer />
</MainLayout>
